<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>

  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>
      <div class="col-lg-8">
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Modifier le compte de <%= @user.username %></h5>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="card-body">
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class=" row form-group">
              <div class="col-sm-12 pt-2">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
              </div>
            </div>
            <hr>
            <div class=" row form-group">
              <div class="col-sm-12 pt-2">
                <%= f.label :password, "Nouveau mot de passe" %> <i><small>(laisser vide si vous ne souhaitez pas le changer)</small></i><br />
                <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> caractères minimum</em>
                <% end %>
              </div>
            </div>
            <hr>
            <div class="js-add-field row form-group">
              <div class="col-sm-12 pt-2">
                <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
              </div>
            </div>
            <hr>
            <div class="js-add-field row form-group">
              <div class="col-sm-12 pt-2">
                <p>Mot de passe actuel <i><small>(nous avons besoin de votre mot de passe actuel pour confirmer vos modifications)</small></i><br /></p>
                <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <%= f.submit "Modifier mon compte", class:"btn btn-primary" %>
          </div>
          <% end %>
        </div>

        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title pt-3">Supprimer le compte</h5>
          </div>
          <div class="card-body">
            <form>
              <div class="d-flex justify-content-between">
                <p>Pas satisfait?</p>
                <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete, class: "btn btn-primary" %>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
