<!-- ========== MAIN ========== -->
<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>
  <!-- Content Section -->
  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>
      <div class="col-lg-8">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Modifier le compte de <%= @user.username %></h5>
          </div>
          <!-- Body -->
          <div class="card-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <!-- Form Group -->
              <div class=" row form-group">
                <div class="col-sm-12 pt-2">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class=" row form-group">
                <div class="col-sm-12 pt-2">
                  <%= f.label :password, "Nouveau mot de passe" %> <i><small>(laisser vide si vous ne souhaitez pas le changer)</small></i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> caractères minimum</em>
                  <% end %>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="js-add-field row form-group">
                <div class="col-sm-12 pt-2">
                  <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>

                </div>
              </div>
              <!-- End Form Group -->
              <hr>
                <!-- Form Group -->
              <div class="js-add-field row form-group">
                <div class="col-sm-12 pt-2">
                  <p>Mot de passe actuel <i><small>(nous avons besoin de votre mot de passe actuel pour confirmer vos modifications)</small></i><br /></p>
                  <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                </div>
              </div>
              </div>
              <!-- End Form Group -->
              <!-- Footer -->
              <div class="card-footer d-flex justify-content-end">
                <%= f.submit "Modifier mon compte", class:"btn btn-primary" %>
                <% end %>
              </div>
                <!-- End Footer -->
          <!-- End Body -->

      </div>
        <!-- End Card -->

        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title pt-3">Supprimer le compte</h5>
          </div>

          <!-- Body -->
          <div class="card-body">
            <form>
              <!-- Form Group -->
                <div class="container row">
                  <p class="col-sm-8 pt-2">Pas satisfait? </p>
                    <a class="col-sm-4" <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete, class: "btn btn-primary" %></a>
                </div>
              <!-- End Form Group -->
            </form>
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->

    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
