<p>Bonjour <%= @email %>,</p><br>
<p>Nous vous confirmons votre inscription à la mission <%= @mission.title %>, du <%= @mission.start_date %> au <%= @mission.end_date %>.</p>
<p>L'association <%= @organisation.name %> va prendre contact avec vous prochainement.</p><br>
<p>Pour toute question, <%= @mission.contact_first_name %> <%= @mission.contact_last_name %>, qui organise la mission, pourra vous renseigner.</p>
<p>Son numéro de téléphone : <%= @mission.contact_phone %></p><br>
<p>====================</p>
<p>Résumé de la mission : <%= @mission.description %></p>
<p>Bonne journée,</p>
<p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
