<div class="container-fluid py-5 px-lg-5">
  <h5>Recherche par:</h5>
  <div class="row">
    <div class="col-lg-3 pt-3">
      <form class="pr-xl-3" action="#">
        <div class="mb-4">
          <label class="form-label" for="form_search">Ville</label>
          <div class="input-label-absolute input-label-absolute-right">
            <div class="label-absolute"><i class="fa fa-search"></i></div>
              <%=text_field_tag(:location, params[:location], class: "form-control pr-4", placeholder: "Ville")%>
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label" for="form_search">Thème associatif</label>
          <%=select_tag :search, options_from_collection_for_select(Activity.all, :title, :title), class: "form-control ", include_blank: "Thème" %>
        </div>
        <div class="pb-4">
          <div class="mb-4">
            <button class="btn btn-primary" type="submit"> <i class="fas fa-filter mr-1"></i>Filtrer                </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
        <div class="mr-3">
          <p class="mb-3 mb-md-0"><strong> <%=search_result_organisation(@organisations, params[:search], params[:location])%></strong> <%= params[:location] if params[:location]%>  <%=params[:search] if params[:search]%> </p>
        </div>
      </div>
      <div class="row">
        <% @organisations.each do |organisation| %>
          <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://cdn.1min30.com/wp-content/uploads/2018/07/Greenpeace-logo-1.jpg); min-height: 200px;"><%= link_to "", organisation_path(organisation.id), class: "tile-link"%>
                <div class="card-img-overlay-bottom z-index-20">
                  <h4 class="text-white text-shadow"><%=organisation.name%></h4>
                </div>
                <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                  <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">
                    <%=organisation.activity.title %>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> <%=organisation.address.city if organisation.address%>,  <%=organisation.address.zipcode  if organisation.address%></small><br>
                <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Actif depuis: <%=organisation.registration_date%></small><br></p>
                <%= link_to "Plus de détails sur l'association", organisation_path(organisation.id), class: "btn btn-light mb-3"%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
