  <div class="container text-center mt-6">
  <%= form_tag(organisations_path, method: :get) do%>

  <div class="tab-pane fade show active">
  <div class ="row">
  <h4 class = "col-lg-5">Chercher les organisations par tag :</h4>

    <%=text_field_tag(:search, params[:search], class: "form-control border-2 col-lg-4 d-flex align-items-center form-group no-divider", placeholder: "Tag")%>
    <%=submit_tag "Search", class: "btn btn-primary  h-100 ml-2" %>

  </div>
  </div>

  <%end%>
</div>
  <br><br>
  <div class ="container">
      <div class="row mb-5">
        <div class="col-md-8">
          <h2>Toutes les associations</h2>
        </div>
      </div>
      <div class="row">
        <% @organisations.each do |organisation| %>
          <!-- venue item-->
          <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://cdn.1min30.com/wp-content/uploads/2018/07/Greenpeace-logo-1.jpg); min-height: 200px;"><%= link_to "", organisation_path(organisation.id), class: "tile-link"%>
                <div class="card-img-overlay-bottom z-index-20">
                  <h4 class="text-white text-shadow"><%=organisation.name%></h4>
                </div>
                <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                  <div class="badge badge-transparent badge-pill px-3 py-2 mt-2"><%if organisation.tags.present?%>
                    <%=organisation.tags.last.name%>
                    <%end%>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> <%=organisation.address.city%>,  <%=organisation.address.zipcode%></small><br>
                <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Actif depuis: <%=organisation.registration_date%></small><br></p>

                <%= link_to "Plus de détails sur l'association", organisation_path(organisation.id), class: "btn btn-light mb-3"%>
                
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>