<div class="container-fluid py-5 px-lg-5">
  <div class="row">
    <div class="col-lg-3 pt-3">
      <form class="pr-xl-3" action="#">
        <div class="mb-4">
          <label class="form-label" for="form_search">Tag</label>
          <div class="input-label-absolute input-label-absolute-right">
            <div class="label-absolute"><i class="fa fa-search"></i></div>
            <%=text_field_tag(:search, params[:search], class: "form-control pr-4", placeholder: "Tag")%>
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label" for="form_neighbourhood">Catégorie 1</label>
          <select class="selectpicker form-control" name="neighbourhood" id="form_neighbourhood" multiple data-style="btn-selectpicker" data-live-search="true" data-selected-text-format="count &gt; 1" title="">
            <option value="neighbourhood_0">XXX    </option>
            <option value="neighbourhood_1">XXX    </option>
            <option value="neighbourhood_2">XXX    </option>
          </select>
        </div>
        <div class="mb-4">
          <label class="form-label" for="form_category">Catégorie 2</label>
          <select class="selectpicker form-control" name="category" id="form_category" multiple data-style="btn-selectpicker" data-selected-text-format="count &gt; 1" title="">
            <option value="category_0">XXX    </option>
            <option value="category_1">XXX    </option>
            <option value="category_2">XXX    </option>
          </select>
        </div>
        <div class="pb-4">
          <div class="collapse" id="moreFilters">
            <div class="mb-4">
              <label class="form-label">Autres</label>
              <ul class="list-unstyled mb-0">
                <li>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="vegetarians_0" name="vegetarians">
                    <label class="custom-control-label" for="vegetarians_0">XXX</label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="vegetarians_1" name="vegetarians">
                    <label class="custom-control-label" for="vegetarians_1">XXX</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="mb-4">
            <button class="btn btn-link btn-collapse pl-0 text-secondary" type="button" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false" aria-controls="moreFilters" data-expanded-text="Less filters" data-collapsed-text="More filters">Plus de filtres</button>
          </div>
          <div class="mb-4">
            <button class="btn btn-primary" type="submit"> <i class="fas fa-filter mr-1"></i>Filtrer                </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-9">
      <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
        <div class="mr-3">
          <p class="mb-3 mb-md-0"><strong><%= @organisations.count %></strong> résultats</p>
        </div>
        <div>
          <label class="form-label mr-2" for="form_sort">Trier par</label>
          <select class="selectpicker" name="sort" id="form_sort" data-style="btn-selectpicker" title="">
            <option value="sortBy_0">Popularité   </option>
            <option value="sortBy_1">Nouveauté   </option>
            <option value="sortBy_2">Ancienneté   </option>
          </select>
        </div>
      </div>
      <div class="row">
        <% @organisations.each do |organisation| %>
          <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
            <div class="card h-100 border-0 shadow">
              <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://cdn.1min30.com/wp-content/uploads/2018/07/Greenpeace-logo-1.jpg); min-height: 200px;"><%= link_to "", organisation_path(organisation.id), class: "tile-link"%>
                <div class="card-img-overlay-bottom z-index-20">
                  <h4 class="text-white text-shadow"><%=organisation.name%></h4>
                </div>
                <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                  <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">
                    <%=organisation.tags.last.name if organisation.tags%>
                    </div>
                </div>
              </div>
              <div class="card-body">
                <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> <%=organisation.address.city if organisation.address%>,  <%=organisation.address.zipcode  if organisation.address%></small><br>
                <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Actif depuis: <%=organisation.registration_date%></small><br></p>

                <%= link_to "Plus de détails sur l'association", organisation_path(organisation.id), class: "btn btn-light mb-3"%>

              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>