<!-- ========== MAIN ========== -->
<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>

  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Informations sur l'association</h5>
          </div>

          <!-- Body -->
          <div class="card-body">
            <!-- Form Group -->
            <div class=" row form-group">
              <label for="firstNameLabel" class="col-sm-4 col-form-label" style="color:gray;">LOGO DE L'ASSOCIATION </label>
                <div class="col-sm-8 pt-2">
                  <div class="avatar avatar-xxl avatar-circle mb-3">
                    <!-- <img class="avatar-img" src="" alt="Image Description"> -->
                  </div>
              </div>
            </div>
            <!-- End Form Group -->

              <!-- Form Group -->
              <div class=" row form-group">
                <label for="firstNameLabel" class="col-sm-4 col-form-label " style="color:gray;">NOM DE L'ASSOCIATION </label>
                  <div class="col-sm-8 pt-2">
                    <p><%= @organisation.name %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row form-group">

                <label for="firstNameLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">NUMERO SIREN</label>
                  <div class="col-sm-8 pt-2">
                    <p><%= @organisation.registration_number %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row form-group">
                <label for="emailLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">DATE D'ENREGISTREMENT</label>
                <div class="col-sm-8 pt-2">
                  <p><%= @organisation.registration_date %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="js-add-field row form-group">
                <label for="phoneLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">DESCRIPTION</label>
                <div class="col-sm-8 pt-2">
                    <p><%= @organisation.description %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row form-group">
                <label for="birthDateLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">DOMAINE D'ACTIVITE</label>
                <div class="col-sm-8 pt-2">
                  <p><%= @organisation.activity.title %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="js-add-field row form-group">
                <label for="phoneLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">TAGS</label>
                <div class="col-sm-8 pt-2">
                    <p>tags</p>
                </div>
              </div>
              <!-- End Form Group -->
          </div>
          <!-- End Body -->
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-success" <%= link_to "Editer les informations", edit_organisation_path(current_user.organisation) %></a>
          </div>
          <!-- End Footer -->
        </div>

          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h5 class="card-title mt-3">Adresse </h5>
            </div>
          <!-- Body -->
          <div class="card-body">
              <!-- Form Group -->
              <div class="row">
                <label for="locationLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">NUMERO DE RUE</label>
                <div class="col-sm-8 pt-2">
                    <p><%= @organisation.address.number %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="addressLine1Label" class="col-sm-4 col-form-label input-label" style="color:gray;">RUE</label>
                <div class="col-sm-8 pt-2">
                <p><%= @organisation.address.street %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="cityLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">VILLE</label>
                <div class="col-sm-8 pt-2">
                  <p><%= @organisation.address.city %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="zipCodeLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">CODE POSTAL </label>
                <div class="col-sm-8 pt-2">
                  <p><%= @organisation.address.zipcode %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="zipCodeLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">PAYS</label>
                <div class="col-sm-8 pt-2">
                  <p><%= @organisation.address.country %></p>
                </div>
              </div>
              <!-- End Form Group -->
          <!-- End Body -->
          </div>
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-success" <%= link_to "Editer les informations", edit_organisation_path(current_user.organisation) %></a>
          </div>
          <br>
          <div class="card-footer d-flex justify-content-end">
            <%= link_to "Supprimer l'asso", organisation_path(current_user.organisation), method: :delete, class: "btn btn-primary", data: {confirm: "Etes vous sur?"}  %>
          </div>

          <!-- End Footer -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
