  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mr-lg-auto">
          <div class="card border-0 shadow mb-6 mb-lg-0">
            <div class="card-header bg-gray-100 py-4 border-0 text-center">
            <%if @organisation.logo.attached?%>
              <%= image_tag @organisation.logo, alt: 'logo', class: "avatar avatar-xxl avatar-circle mb-3" %>
            <%else%>
              <%= image_tag("high-five.png", :alt => "logo_person", :class => "avatar avatar-xxl avatar-circle mb-3") %>
            <%end%>
              <h5><%= @organisation.name %></h5>
              <p class="text-muted text-sm mb-0"><%= @organisation.address.number if @organisation.address%>, <%= @organisation.address.street if @organisation.address%></p>
              <p class="text-muted text-sm mb-0"><%= @organisation.address.zipcode if @organisation.address%></p>
              <p class="text-muted text-sm mb-0"><%= @organisation.address.country if @organisation.address%></p>
            </div>
            <div class="card-body p-4">
              <h5 class="text-center mb-4">Par le passé</h5>
              <div class="media align-items-center mb-3">
                <div class="icon-rounded icon-rounded-sm bg-primary-light mr-2">
                  <i class="fas fa-user-plus pl-1 pb-1" style="color:#d24d57"></i>
                </div>
                <div class="media-body">
                  <p class="mb-0"><%= @organisation.missions.sum {|m| m.participations.count} %> bénévoles</p>
                </div>
              </div>
              <div class="media align-items-center mb-3">
                <div class="icon-rounded icon-rounded-sm bg-primary-light mr-2">
                  <i class="far fa-calendar-check pb-1" style="color:#d24d57"></i>
                </div>
                <div class="media-body">
                  <p class="mb-0"><%=@organisation.missions.count %> <%= "mission".pluralize(@organisation.missions.count)%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 pl-lg-5">
          <h1 class="hero-heading mb-0"><%= @organisation.name %></h1>
          <div class="text-block">
            <p> <span class="badge badge-secondary-light">Actif depuis <%=@organisation.registration_date.year%></span></p>
            <p class="text-muted">Description de l'assocation:  </p>
            <p class="text-muted"><%=@organisation.description%> </p>
          </div>
          <div class="text-block">
            <h4 class="mb-5">Les missions proposées par <%=@organisation.name%></h4>
            <div class="row">
              <% @organisation.missions.each do |mission| %>
              <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="min-height: 200px;">
                  <%if mission.cover.attached?%>
                    <%= image_tag mission.cover, alt: 'cover', height: "200" %>
                  <%else%>
                    <img src="https://media.discordapp.net/attachments/757539327998951525/785913233511809054/pexels-photo-1546105.jpeg?width=995&height=663" alt="cover" height="240">
                  <%end%>
                  <%= link_to "", organisation_mission_path(mission.organisation.id, mission.id), class: "tile-link"%>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow"><%=mission.title%></h4>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">
                        <%=mission.organisation.name%>
                        </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <i class="fas fa-search-location pr-2" style="color:#808080"></i><small style="color:#808080" class="pl-1"> <%if mission.address.present?%>
                      <%=mission.address.city%>,  <%=mission.address.zipcode%>
                      <%end%></small><br>
                    <i class="fas fa-users pr-2" style="color:#808080"></i><small style="color:#808080"> Besoin de <%=mission.volunteers_needed%> volontaires</small><br>
                    <i class="fas fa-calendar-day pr-2" style="color:#808080"></i><small style="color:#808080" class="pl-1"> Date: <%=mission.start_date.time.strftime("%-d/%-m/%y à %H:%M")%></small><br></p>
                    <%= link_to "Voir la mission", organisation_mission_path(mission.organisation.id, mission.id), class: "btn btn-primary mb-2"%><br>
                    <hr>
                      <small style="color:#808080"> <%mission.tags.each do |tag|%>
                      <li class="list-inline-item mr-3"><i class="fas fa-tags"></i> <%=tag.name%></li>
                      <%end%></small>
                  </div>
                </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
