  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 mr-lg-auto">
          <div class="card border-0 shadow mb-6 mb-lg-0">
            <div class="card-header bg-gray-100 py-4 border-0 text-center"><a class="d-inline-block" href="#"><img class="d-block avatar avatar-xxl p-2 mb-2" src="https://cdn.1min30.com/wp-content/uploads/2018/07/Greenpeace-logo-1.jpg" alt=""></a>
              <h5><%= @organisation.name %></h5>
              <p class="text-muted text-sm mb-0"><%= @organisation.address.number %>, <%= @organisation.address.street %></p>
              <p class="text-muted text-sm mb-0"><%= @organisation.address.zipcode %></p>
              <p class="text-muted text-sm mb-0"><%= @organisation.address.country %></p>
            </div>
            <div class="card-body p-4">
              <h5 class="text-center mb-4">Par le passé</h5>
              <div class="media align-items-center mb-3">
                <div class="icon-rounded icon-rounded-sm bg-primary-light mr-2">
                  <i class="fas fa-user-plus pl-1 pb-1" style="color:#d24d57"></i>
                </div>
                <div class="media-body">
                  <p class="mb-0"><%= @organisation.missions.sum {|m| m.participations.count} %> bénévoles</p>
                </div>
              </div>
              <div class="media align-items-center mb-3">
                <div class="icon-rounded icon-rounded-sm bg-primary-light mr-2">
                  <i class="far fa-calendar-check pb-1" style="color:#d24d57"></i>
                </div>
                <div class="media-body">
                  <p class="mb-0"><%=@organisation.missions.count %> <%= "mission".pluralize(@organisation.missions.count)%></p>
                </div>
              </div>
              <hr>
                <h5 class="text-center mb-4 mt-4">Suis l'association</h5>
                <a href="#" class="btn btn-muted mb-2"><i class="fas fa-rss"></i> S'abonner</a>
                <a href="#" class="btn btn-light mb-2"><i class="fas fa-envelope-open-text"></i> Contacter</a>
            </div>
          </div>
        </div>
        <div class="col-lg-9 pl-lg-5">
          <h1 class="hero-heading mb-0"><%= @organisation.name %></h1>
          <div class="text-block">
            <p> <span class="badge badge-secondary-light">Actif depuis <%=@organisation.registration_date.year%></span></p>
            <p class="text-muted">Description de l'assocation:  </p>
            <p class="text-muted"><%=@organisation.description%> </p>
          </div>
          <div class="text-block">
            <h4 class="mb-5">Les missions proposées par <%=@organisation.name%></h4>
            <div class="row">
              <% @organisation.missions.each do |mission| %>
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE" alt="Modern, Well-Appointed Room"/><a class="tile-link" href="detail-rooms.html"></a>
                      <div class="card-img-overlay-top text-right">
                      </div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html"><%=mission.title%></a></h6>
                        <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> <%=mission.address.city%>,  <%=mission.address.zipcode%></small><br>
                        <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de <%=mission.volunteers_needed%> volontaires</small><br>
                        <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: <%=mission.start_date%></small><br></p>
                        <%= link_to "Voir la mission", organisation_mission_path(mission.organisation.id, mission.id), class: "btn btn-primary mb-2"%><br>
                        <p class="mb-0"><i class="fas fa-tags" style="color:#808080"></i><small style="color:#808080"> <%mission.tags.each do |tag|%>
                        <%=tag.name%>
                        <%end%></small></p>
                      </div>
                    </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
