<div class="col-lg-4">
  <div class="card mb-5">
    <div class="card-body">
      <div class="d-none d-block text-center mb-5">
        <%if current_user.avatar.attached?%>
          <%= image_tag current_user.avatar, alt: 'avatar', class: "avatar avatar-xxl avatar-circle mb-3" %>
        <%else%>
          <%= image_tag("person.png", :alt => "logo_person", :class => "avatar avatar-xxl avatar-circle mb-3") %>
        <%end%>
        <h4 class="card-title"><%= current_user.username %></h4>
      </div>
      <h6 class="text-muted" style="font-size:0.9em">INFORMATIONS UTILISATEUR</h6>
      <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
        <li class="nav-item">
          <i class="fas fa-id-card nav-icon"></i><a class="btn user-btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Infos personnelles", user_path(current_user.id) %></a>
        </li>
        <li class="nav-item">
          <i class="far fa-check-square"></i><a class="btn user-btn  btn-unique text-left" style="font-size:0.7em" <%= link_to "Missions", user_missions_path(current_user.id) %></a>
        </li>
        <li class="nav-item">
          <i class="fas fa-pencil-alt"></i><a class="btn user-btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Editer le profil", edit_user_path(current_user) %></a>
        </li>
        <li class="nav-item">
          <i class="fas fa-shield-alt nav-icon"></i><a class="btn user-btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Editer le compte", edit_user_registration_path %></a>
        </li>
        <li class="nav-item mb-2">
          <i class="fa fa-trophy"></i><a class="btn user-btn  btn-unique text-left" style="font-size:0.7em" <%= link_to "Trophées", user_success_path(current_user.id) %></a>
        </li>
      </ul>
      <h6 class="text-muted" style="font-size:0.9em">INFORMATIONS ASSOCIATION</h6>
        <% if current_user.organisation.blank? %>
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <i class="fas fa-plus-circle"></i><a class="btn user-btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Créer association", new_organisation_path %></a>
            </li>
          </ul>
        <% else %>
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <i class="fas fa-id-card nav-icon"></i><a class="btn user-btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Infos de l'association", info_organisation_path(current_user.organisation) %></a>
            </li>
            <li class="nav-item mb-2">
              <i class="fas fa-pencil-alt"></i><a class="btn user-btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Editer l'association", edit_organisation_path(current_user.organisation) %></a>
            </li>
          </ul>
        <% end %>
        <% if current_user.organisation.present? %>
          <h6 class="text-muted" style="font-size:0.9em">INFORMATIONS MISSIONS</h6>
          <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
            <li class="nav-item">
              <i class="fas fa-plus-circle"></i>
              <a class="btn btn-unique user-btn text-left" style="font-size:0.7em"
                <%= link_to "Créer une mission", new_organisation_mission_path(current_user.organisation.id)%>
              </a>
            </li>
            <li class="nav-item">
              <i class="fas fa-heart nav-icon"></i>
              <a class="btn btn-unique active text-left" style="font-size:0.7em"
                <%= link_to "Dashboard missions", missions_dashboard_path %>
              </a>
            </li>
          </ul>
        <% end %>
    </div>
  </div>
</div>
