      <!-- ========== MAIN ========== -->
      <main id="content" role="main" class="bg-light">
        <!-- Breadcrumb Section -->
        <div class="bg-navy" style="background-image: url(https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); background-position: 50% 55%">
          <div class="container space-1 space-top-lg-2 space-bottom-lg-3" style="height:300px;">
            <div class="row align-items-center">
              <div class="col">
                <div class="d-none d-lg-block">
                  <h1 class="my-5 text-white">Informations de <%= @user.username %></h1>
                </div>
              </div>
              <div class="col-auto">
                <div class="d-none d-lg-block">
                  <a class="btn btn-sm btn-soft-light"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-light" %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Breadcrumb Section -->

        <!-- Content Section -->
        <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
          <div class="row">
            <div class="col-lg-3">
              <!-- Navbar -->
              <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
                <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                  <!-- Card -->
                  <div class="card mb-5">
                    <div class="card-body">
                      <!-- Avatar -->
                      <div class="d-none d-lg-block text-center mb-5">
                        <div class="avatar avatar-xxl avatar-circle mb-3">
                          <!-- <img class="avatar-img" src="" alt="Image Description"> -->
                        </div>
                        <h4 class="card-title"><%= @user.username %></h4>
                        <p class="card-text font-size-1"><p><%= @user.first_name %> <%= @user.last_name %></p>
                      </div>
                      <!-- End Avatar -->
                      <h6 class="text-muted" style="font-size:0.9em">INFORMATIONS UTILISATEUR</h6>
                      <!-- List -->
                      <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
                        <li class="nav-item">
                          <i class="fas fa-id-card nav-icon"></i><a class="btn btn-unique active text-left" style="font-size:0.7em" <%= link_to "Infos perso", user_path(current_user.id) %></a>
                        </li>
                        <li class="nav-item">
                          <i class="far fa-check-square"></i><a class="btn btn-unique active text-left" style="font-size:0.7em" <%= link_to "Missions", "/home/missions" %></a>
                        </li>
                        <li class="nav-item">
                          <i class="fas fa-pencil-alt"></i><a class="btn btn-unique active text-left" style="font-size:0.7em; color: #d24d57" <%= link_to "Editer le profil", edit_user_path(current_user) %></a>
                        </li>
                        <li class="nav-item mb-2">
                          <i class="fas fa-shield-alt nav-icon"></i><a class="btn btn-unique active text-left" style="font-size:0.7em" <%= link_to "Editer le compte", edit_user_registration_path %></a>
                        </li>
                      </ul>
                      <!-- End List -->
                      <h6 class="text-muted" style="font-size:0.9em">INFORMATIONS ASSOCIATION</h6>
                      <!-- List -->
                      <% if @user.organisation_admin == false %>
                      <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
                        <li class="nav-item">
                          <i class="fas fa-plus-circle"></i><a class="btn btn-unique text-left" style="font-size:0.7em" <%= link_to "Créer association", new_organisation_path %></a>
                        </li>
                      </ul>
                      <% else %>
                        <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
                          <li class="nav-item">
                              <i class="fas fa-id-card nav-icon"></i><a class="btn btn-unique active text-left" style="font-size:0.7em" <%= link_to "Infos asso", "/home/organisationinfo" %></a>
                          </li>
                          <li class="nav-item">
                          <i class="fas fa-pencil-alt"></i><a class="btn btn-unique active text-left" style="font-size:0.7em" <%= link_to "Editer le profil", "/home/organisationedit" %></a>
                          </li>
                          <li class="nav-item">
                            <i class="fas fa-plus-circle"></i><a class="btn btn-unique text-left" style="font-size:0.7em"  <%= link_to "Créer une mission", new_mission_path %></a>
                          </li>
                          <li class="nav-item">
                              <i class="fas fa-heart nav-icon"></i><a class="btn btn-unique active text-left" style="font-size:0.7em" <%= link_to "Dashboard", "/home/dashboard" %></a>
                          </li>
                        </ul>
                      <% end %>
                      <!-- End List -->
                    </div>
                  </div>
                  <!-- End Card -->
                </div>
              </div>
              <!-- End Navbar -->
            </div>
            <div class="col-lg-9">
              <!-- Card -->
              <div class="card mb-3 mb-lg-5">
                <div class="card-header">
                  <h5 class="card-title mt-3">Editer le profil</h5>
                </div>
                <!-- Body -->
                <div class="card-body">
                  <%= simple_form_for @user do |f| %>
                    <!-- Form Group -->
                    <div class=" row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= f.input :first_name, class:"form-control m-3"  %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <hr>
                    <!-- Form Group -->
                    <div class=" row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= f.input :last_name, class:"form-control m-3"  %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <hr>
                    <!-- Form Group -->
                    <div class="js-add-field row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= f.input :phone_number, class:"form-control m-3"  %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <hr>
                      <!-- Form Group -->
                    <div class="js-add-field row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= f.input :date_of_birth, class:"form-control m-3", end_year: 2002, start_year: 1940 %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                  <%= f.simple_fields_for :address do |a| %>
                  <!-- Form Group -->
                  <div class=" row form-group">
                    <div class="col-sm-8 pt-2">
                      <%= a.input :number, class:"form-control m-3", placeholder: "4bis" %>
                    </div>
                  </div>
                  <!-- End Form Group -->
                    <hr>
                    <!-- Form Group -->
                    <div class=" row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= a.input :street, class:"form-control m-3", placeholder: "rue du Père Noël" %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <hr>
                    <!-- Form Group -->
                    <div class=" row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= a.input :city, class:"form-control m-3", placeholder: "Paris" %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <hr>
                    <!-- Form Group -->
                    <div class=" row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= a.input :zipcode, class:"form-control m-3", placeholder: "75015" %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <hr>
                    <!-- Form Group -->
                    <div class=" row form-group">
                      <div class="col-sm-8 pt-2">
                        <%= a.input :country, class:"form-control m-3", as: :string, placeholder: "France" %>
                      </div>
                    </div>
                    <!-- End Form Group -->
                    <% end %>
                  </div>
                    <!-- Footer -->
                    <div class="card-footer d-flex justify-content-end">
                      <%= f.button :submit, 'Editer', class:"btn btn-primary" %>
                      <% end %>
                    </div>
                      <!-- End Footer -->
                <!-- End Body -->
                </div>
            </div>
              <!-- End Card -->
          </div>
          <!-- End Row -->
        </div>
        <!-- End Content Section -->
      </main>
      <!-- ========== END MAIN ========== -->
