<main id="content" role="main" class="bg-light">


  <%= render 'users/cover'  %>


  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>


      <div class="col-lg-8">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Informations personnelles</h5>
          </div>

          <!-- Body -->
          <div class="card-body">
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark" style="color:gray;"> <i class="fas fa-user-tag mr-4"></i> PSEUDONYME</strong>
                 <a class="pl-5" style="text-decoration: none;"> <%= @user.username %> </a>
               </p>
             </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                 <strong class="d-block text-gray-dark" style="color:gray;"><i class="fas fa-id-card nav-icon mr-4"></i> NOM</strong>
                 <a class="pl-5" style="text-decoration: none;"> <%= @user.first_name unless @user.first_name.blank? %> <%= @user.last_name unless @user.last_name.blank? %> </a>
               </p>
             </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                 <strong class="d-block text-gray-dark" style="color:gray;"><i class="fas fa-at mr-4"></i> EMAIL</strong>
                 <a class="pl-5" style="text-decoration: none;"> <%= @user.email%> </a>
               </p>
             </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                 <strong class="d-block text-gray-dark" style="color:gray;"><i class="fas fa-phone mr-4"></i> TELEPHONE</strong>
                 <a class="pl-5" style="text-decoration: none;"> <%= @user.phone_number unless @user.phone_number.blank? %> </a>
               </p>
             </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125">
                 <strong class="d-block text-gray-dark" style="color:gray;"><i class="fas fa-birthday-cake mr-4"></i> DATE DE NAISSANCE</strong>
                 <a class="pl-5" style="text-decoration: none;"> <%= @user.date_of_birth.strftime("%-d/%-m/%y") unless @user.date_of_birth.blank? %> </a>
               </p>
             </div>
              <!-- End Form Group -->
        </div>
          <!-- End Body -->
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <%= link_to "Editer les informations", edit_user_path(current_user), class:"btn btn-info" %>
          </div>
          <!-- End Footer -->
      </div>

          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h5 class="card-title mt-3">Adresse </h5>
            </div>
            <!-- Body -->
            <div class="card-body">
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                 <strong class="d-block text-gray-dark" style="color:gray;">ADRESSE</strong>
                 <a style="text-decoration: none;"> <%if @user.address != nil%><%= @user.address.number %> <%= @user.address.street %> <%end%> </a>
               </p>
             </div>
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                 <strong class="d-block text-gray-dark" style="color:gray;">VILLE</strong>
                 <a style="text-decoration: none;"> <%if @user.address != nil%><%= @user.address.city %><%end%> </a>
               </p>
             </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125 border-bottom border-gray">
                 <strong class="d-block text-gray-dark" style="color:gray;">CODE POSTAL</strong>
                 <a style="text-decoration: none;"> <%if @user.address != nil%><%= @user.address.zipcode %><%end%> </a>
               </p>
             </div>
              <!-- End Form Group -->
              <!-- Form Group -->
              <div class="media text-dark pt-3">
               <p class="media-body pb-3 mb-0 medium lh-125">
                 <strong class="d-block text-gray-dark" style="color:gray;">PAYS</strong>
                 <a style="text-decoration: none;"> <%if @user.address != nil%><%= @user.address.country %><%end%> </a>
               </p>
             </div>
              <!-- End Form Group -->
          <!-- End Body -->
          </div>
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <%= link_to "Editer les informations", edit_user_path(current_user), class:"btn btn-info" %>
          </div>

          <!-- End Footer -->
        </div>
        <!-- End Card -->
        <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h5 class="card-title mt-3">Trophées </h5>
            </div>
            <!-- Body -->
            <div class="card-body">
              <%unless @user.badges.blank?%>
                <%@user.badges.each do |badge|%>
                <div class="col-10 align-items-center d-flex my-4">
                  <img class="organisation-example-photo" src="<%=badge.custom_fields[:image] unless badge.custom_fields.blank?%>">
                    <div class="col-6 organisation-example-text">
                      <h6 class="text-shadow mb-0 pt-1"><%=badge.name%></h6>
                      <small><%= badge.description %></small><br>
                      </div>
                    </div>
                <%end%>
              <%end%>
          </div>
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
