<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>

  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Informations personnelles</h5>
          </div>

          <!-- Body -->
          <div class="card-body">
              <!-- Form Group -->
              <div class=" row form-group">
                <label for="firstNameLabel" class="col-sm-4 col-form-label " style="color:gray;">PSEUDONYME </label>
                  <div class="col-sm-8 pt-2">
                    <p><%= @user.username %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row form-group">

                <label for="firstNameLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">NOM </label>
                  <div class="col-sm-8 pt-2">
                    <p><%= @user.first_name %> <%= @user.last_name %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row form-group">
                <label for="emailLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">EMAIL</label>
                <div class="col-sm-8 pt-2">
                  <p><%= @user.email %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="js-add-field row form-group">
                <label for="phoneLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">TELEPHONE <small class="input-label-secondary" style="color:gray;">(Obligatoire pour s'inscrire aux missions)</small></label>
                <div class="col-sm-8 pt-2">
                    <p><%= @user.phone_number %></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row form-group">
                <label for="birthDateLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">DATE DE NAISSANCE</label>
                <div class="col-sm-8 pt-2">
                  <p><%= @user.date_of_birth %></p>
              </div>
              <!-- End Form Group -->
          </div>
        </div>
          <!-- End Body -->
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <%= link_to "Editer les informations", edit_user_path(current_user), class:"btn btn-primary" %>
          </div>
          <!-- End Footer -->
      </div>

          <!-- Card -->
          <div class="card mb-3 mb-lg-5">
            <div class="card-header">
              <h5 class="card-title mt-3">Adresse </h5>
            </div>
          <!-- Body -->
          <div class="card-body">
              <!-- Form Group -->
              <div class="row">
                <label for="locationLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">NUMERO DE RUE</label>
                <div class="col-sm-8 pt-2">
                    <p><%if @user.address != nil%><%= @user.address.number %> <%end%></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="addressLine1Label" class="col-sm-4 col-form-label input-label" style="color:gray;">RUE</label>
                <div class="col-sm-8 pt-2">
                <p><%if @user.address != nil%><%= @user.address.street %><%end%></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="cityLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">VILLE</label>
                <div class="col-sm-8 pt-2">
                  <p><%if @user.address != nil%><%= @user.address.city %><%end%></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="zipCodeLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">CODE POSTAL </label>
                <div class="col-sm-8 pt-2">
                  <p><%if @user.address != nil%><%= @user.address.zipcode %><%end%></p>
                </div>
              </div>
              <!-- End Form Group -->
              <hr>
              <!-- Form Group -->
              <div class="row">
                <label for="zipCodeLabel" class="col-sm-4 col-form-label input-label" style="color:gray;">PAYS</label>
                <div class="col-sm-8 pt-2">
                  <p><%if @user.address != nil%><%= @user.address.country %><%end%></p>
                </div>
              </div>
              <!-- End Form Group -->
          <!-- End Body -->
          </div>
          <!-- Footer -->
          <div class="card-footer d-flex justify-content-end">
            <%= link_to "Editer les informations", edit_user_path(current_user), class:"btn btn-primary" %>
          </div>
          <!-- End Footer -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
