<section class="d-flex dark-overlay bg-cover pt-4" style="background-image: url(https://images.unsplash.com/photo-1510146758428-e5e4b17b8b6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80)">
  <div class="container py-6 text-white overlay-content text-center">
    <h1 class="hero-heading">Découvrez notre équipe</h1>
    <div class="row">
      <div class="col-xl-8 mx-auto"><p>Léquipe Clap for Life s'est construite grâce au programme de formation THP.<br>Deux semaines de travail intensif ont permis de créer la plateforme que vous avez sous les yeux.</p></div>
    </div>
  </div>
</section>
<section>
  <div class="row pt-5">
    <div class="col-lg-5">
      <div class="container d-flex justify-content-center">
        <%= image_tag("flavien.jpg", :alt => "founder", :class => "img-fluid rounded-circle w-50 p-3") %>
      </div>
    </div>
    <div class="col-lg-6 d-flex align-items-center">
      <div>
        <blockquote class="blockquote-icon">
          <p class="text-lg text-gray-700 mb-4">Ravi d'avoir rencontré Joséphine, David, Mahmood et Martin ! Chacun a apporté à la plateforme sa touche personnelle, et c'est ce qui rend la navigation la plus agréable et humaine possible.</p>
          <h6 class="text-lg text-primary">Flavien Loiseau, fondateur</h6>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container bg-gray-100 my-5 pt-5 px-lg-5 rounded-lg shadow-sm">
    <h4 class="subtitle text-center text-primary mb-5">L'équipe</h4>
    <div class="row d-flex justify-content-between">
      <div class="mb-3 mb-lg-6 col-sm-4 col-lg-3">
        <div class="card border-0 hover-animate bg-transparent">
          <%= image_tag("david.jpg", :alt => "founder", :class => "img-fluid rounded-circle p-3") %>
          <div class="card-body team-body text-center">
            <h6 class="card-title">David Serfaty</h6>
            <p class="card-subtitle text-muted text-xs text-uppercase">Co-respo BDD</p>
          </div>
        </div>
      </div>
      <div class="mb-3 mb-lg-6 col-sm-4 col-lg-3">
        <div class="card border-0 hover-animate bg-transparent">
          <%= image_tag("josephine.jpg", :alt => "founder", :class => "img-fluid rounded-circle p-3") %>
          <div class="card-body team-body text-center">
            <h6 class="card-title">Joséphine Remy</h6>
            <p class="card-subtitle text-muted text-xs text-uppercase">Respo UX & UI</p>
          </div>
        </div>
      </div>
      <div class="mb-3 mb-lg-6 col-sm-4 col-lg-3">
        <div class="card border-0 hover-animate bg-transparent">
          <%= image_tag("martin.jpg", :alt => "founder", :class => "img-fluid rounded-circle p-3") %>
          <div class="card-body team-body text-center">
            <h6 class="card-title">Martin Louvard</h6>
            <p class="card-subtitle text-muted text-xs text-uppercase">Respo Assos & Missions</p>
          </div>
        </div>
      </div>
      <div class="mb-3 mb-lg-6 col-sm-4 col-lg-3">
        <div class="card border-0 hover-animate bg-transparent">
          <%= image_tag("mahmood.jpg", :alt => "founder", :class => "img-fluid rounded-circle p-3") %>
          <div class="card-body team-body text-center">
            <h6 class="card-title">Mahmood Sharifi</h6>
            <p class="card-subtitle text-muted text-xs text-uppercase">Co-respo BDD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
