<section class="d-flex dark-overlay bg-cover" style="background-image: url(https://images.unsplash.com/photo-1461532257246-777de18cd58b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1055&q=80);">
  <div class="container py-7 text-white overlay-content text-center">
    <div class="row py-2">
      <div class="col-xl-10 mx-auto">
        <h1 class="display-3 font-weight-bold text-shadow">Devenez Bénévole</h1>
        <p class="text-lg text-shadow">ou proposez des missions associatives sur notre plateforme</p><br>
      </div>
    </div>
  </div>
</section>

<div class="container position-relative mt-n6 z-index-20">
  <ul class="nav nav-tabs search-bar-nav-tabs" role="tablist">
    <li class="nav-item mr-2"><a class="nav-link active" href="#mission" data-toggle="tab" role="tab">Rechercher une mission</a></li>
    <li class="nav-item mr-2"><a class="nav-link " href="#orga" data-toggle="tab" role="tab">Rechercher une association</a></li>
  </ul>
  <div class="search-bar search-bar-with-tabs p-3 p-lg-4">
    <div class="tab-content">
      <div class="tab-pane fade " id="orga" role="tabpanel">
        <%= form_tag(organisations_path, method: :get) do%>
          <div class ="row">
            <%= select_tag :search, options_from_collection_for_select(Activity.all, :title, :title), class: "form-control border-0 shadow-0 col-lg-4", include_blank: "Thème" %>
            <%=text_field_tag(:location, params[:location], class: "form-control pr-4 col-3 ml-4", placeholder: "Ville")%>
            <%= submit_tag "Rechercher", class: "btn btn-primary h-100 ml-2" %>
          </div>
        <%end%>
      </div>
      <div class="tab-pane fade show active" id="mission" role="tabpanel">
        <%= form_tag(missions_path, method: :get) do%>
          <div class="tab-pane fade show active">
            <div class ="row">
              <%=select_tag :search, options_from_collection_for_select(Tag.all, :name, :name), class: "form-control border-0 shadow-0 col-lg-4", include_blank: "Tag" %>
              <%=text_field_tag(:location, params[:location], class: "form-control pr-4 col-3 ml-4", placeholder: "Ville")%>
              <%=date_field_tag(:start_date, params[:start_date], class: "form-control col-2 ml-2 ") %>
              <%=submit_tag "Rechercher", class: "btn btn-primary  h-100 ml-2" %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<br><br>

<section>
  <div class="container">
    <div class="row mb-3">
      <div class="col-md-8">
        <h2>Les associations par thèmes</h2>
      </div>
      <div class="col-md-4 d-md-flex align-items-center justify-content-end ">
        <%= link_to organisations_path do %>
          <div >Voir toutes les associations<i class="fas fa-angle-double-right ml-2 "></i></div>
        <%end%>
      </div>
    </div>
    <div class="row d-flex container mt-5">
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Droits+de+l%27Homme&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80", :alt => "human_rights", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Droits de l'homme</h6>
            <small>Défense des droits de tous les citoyens</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 1).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Education&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.unsplash.com/photo-1456513080510-7bf3a84b82f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=666&q=80", :alt => "education", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Education</h6>
            <small>Promotion de l'égalité des chances</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 2).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Santé&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.unsplash.com/photo-1584982751601-97dcc096659c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80", :alt => "health", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Santé</h6>
            <small>Prévention et protection sanitaire</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 3).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Interventions+sociales&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.unsplash.com/photo-1591045211820-2fe94117fe18?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1072&q=80", :alt => "intervention", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Interventions sociales</h6>
            <small>Lutte contre les violences</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 5).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Humanitaire+et+précarité&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.unsplash.com/photo-1519430044529-9a9a57177865?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1061&q=80", :alt => "charity", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Humanitaire, précarité</h6>
            <small>Charité envers les ceux dans le besoin</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 6).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Services+aux+personnes+âgées&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.pexels.com/photos/339620/pexels-photo-339620.jpeg?auto=compress&cs=tinysrgb&h=650&w=940", :alt => "elderly", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Services aux personnes âgées</h6>
            <small>Accompagnement des ainés</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 7).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Médico-social&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.pexels.com/photos/2026764/pexels-photo-2026764.jpeg?auto=compress&cs=tinysrgb&h=650&w=940", :alt => "medico-soc", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Médico-social</h6>
            <small>Soutien aux personnes vulnérables</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 4).count%> associations</small>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 my-3 align-items-center organisation-example d-flex hover-animate"><a class="tile-link" href="/organisations?search=Environnement&location=&commit=Rechercher"> </a>
          <%= image_tag("https://images.pexels.com/photos/9198/nature-sky-twilight-grass-9198.jpg?auto=compress&cs=tinysrgb&h=650&w=940", :alt => "environment", class: "organisation-example-photo shadow-sm") %>
          <div class="organisation-example-text">
            <h6 class="text-shadow mb-0 pt-1">Environnement</h6>
            <small>Protection de l'eco-système</small><br>
            <small style="color:gray; font-style:italic;"> <%=Organisation.where(activity_id: 8).count%> associations</small>
          </div>
        </div>
      </div>
    </div><br><br>

</section>

<hr>
<div class="container py-5">
  <div class="row mb-5">
    <div class="col-md-8">
      <h2>Ces missions n'attendent que vous !</h2>
    </div>
    <div class="col-md-4 d-md-flex align-items-center justify-content-end ">
      <%= link_to missions_path do %>
      <div>Voir toutes les missions<i class="fas fa-angle-double-right ml-2 "></i></div>
      <%end%>
    </div>
  </div>
  <div class="row">
    <% @missions.each do |mission| %>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
      <div class="card h-100 border-0 shadow">
        <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="min-height: 200px;">
          <%if mission.cover.attached?%>
          <%= image_tag mission.cover, alt: 'cover', height: "200" %>
          <%else%>
          <img src="https://media.discordapp.net/attachments/757539327998951525/785913233511809054/pexels-photo-1546105.jpeg?width=995&height=663" alt="cover" height="240">
          <%end%>
          <%= link_to "", organisation_mission_path(mission.organisation.id, mission.id), class: "tile-link"%>
          <div class="card-img-overlay-bottom z-index-20">
            <h4 class="text-white text-shadow"><%=mission.title%></h4>
          </div>
          <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
            <div class="badge badge-transparent badge-pill px-3 py-2 mt-2">
              <%=mission.organisation.name%>
            </div>
          </div>
        </div>
        <div class="card-body">
          <i class="fas fa-search-location pr-2" style="color:#808080"></i><small style="color:#808080" class="pl-1"> <%if mission.address.present?%>
            <%=mission.address.city%>,  <%=mission.address.zipcode%>
            <%end%></small><br>
            <i class="fas fa-users pr-2" style="color:#808080"></i><small style="color:#808080"> Besoin de <%=mission.volunteers_needed%> volontaires</small><br>
            <i class="fas fa-calendar-day pr-2" style="color:#808080"></i><small style="color:#808080" class="pl-1"> Date: <%=mission.start_date.time.strftime("%-d/%-m/%y à %H:%M")%></small><br></p>
            <%= link_to "Voir la mission", organisation_mission_path(mission.organisation.id, mission.id), class: "btn btn-primary mb-2"%><br>
            <hr>
            <small style="color:#808080"> <%mission.tags.each do |tag|%>
              <li class="list-inline-item mr-3"><i class="fas fa-tags"></i> <%=tag.name%></li>
              <%end%>
            </small>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
