<body>
  <div class="container-fluid px-3">
    <div class="row min-vh-100">
      <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
        <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
          <div class="mb-5">
            <h2>Bienvenue !</h2>
          </div>
          <form class="form-validate">
            <div class="form-group">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <label class="form-label" for="loginUsername"> Adresse e-mail</label>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'nom.prenom@adresse.com' %>
                </div>
            <div class="form-group mb-4">
              <div class="row">
                <div class="col">
                  <label class="form-label" for="loginPassword"> Mot de Passe</label>

                </div>
                <div class="col-auto"><a class="form-text small" href="#">Mot de passe oublié?</a></div>
              </div>
                    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>  </div>
            <div class="form-group mb-4">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="loginRemember" type="checkbox">
                <label class="custom-control-label text-muted" for="loginRemember"> <span class="text-sm">Se souvenir de moi</span></label>
              </div>
            </div>
            <!-- Submit-->
            <%= f.submit  "M'authentifier", class: 'btn btn-lg btn-primary' %>
            <hr class="my-4">
            <p class="text-center"><small class="text-muted text-center">Vous n'avez pas de compte? <a href="signup.html">S'inscrire               </a></small></p>
            <% end %>
          </form>
            <%= render 'devise/shared/links' %><a class="close-absolute mr-md-5 mr-xl-6 pt-5" href="index.html">
            <svg class="svg-icon w-3rem h-3rem">
              <use xlink:href="#close-1"> </use>
            </svg></a>
        </div>
      </div>
      <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
        <!-- Image-->
        <div class="bg-cover h-100 mr-n3" style="background-image: url(https://images.unsplash.com/photo-1593113598332-cd288d649433?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);"></div>
      </div>
    </div>
  </div>
  <!-- JavaScript files-->
  <script>
    // ------------------------------------------------------- //
    //   Inject SVG Sprite -
    //   see more here
    //   https://css-tricks.com/ajaxing-svg-sprite/
    // ------------------------------------------------------ //
    function injectSvgSprite(path) {

        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }
    // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
    // use your own URL in production, please :)
    // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
    //- injectSvgSprite('${path}icons/orion-svg-sprite.svg');
    injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg');

  </script>
  <!-- jQuery-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Magnific Popup - Lightbox for the gallery-->
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!-- Smooth scroll-->
  <script src="vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
  <!-- Bootstrap Select-->
  <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
  <script src="vendor/object-fit-images/ofi.min.js"></script>
  <!-- Swiper Carousel                       -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
  <script>var basePath = ''</script>
  <!-- Main Theme JS file    -->
  <script src="js/theme.js"></script>
</body>
