<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>

  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>
      <div class="col-lg-8">
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Les missions proposées par votre association</h5>
            <% if current_user.organisation.missions.blank?%> 
             <div class="m-4">Votre association ne propose aucune mission pour l'instant ! </div>
             <div class="m-4"> N'hésitez pas à créer une nouvelle mission pour votre association en cliquant sur le lien "Créer une mission" accessible depuis votre panneau de contrôle (à gauche) sous la catégorie "INFORMATIONS MISSIONS" ou en <a href="/organisations/<%=current_user.organisation.id%>/missions/new">cliquant ici</a></div>
            <%else%>
            <% current_user.organisation.missions.each do |mission| %>
              <ul class="list-unstyled">
                    <li class="card card-bordered mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-7">
                            <h5 class="pl-2"><%=mission.title%></h5>
                            <div class="row mx-n1">
                              <div class="col px-1">
                                <%if mission.cover.attached?%>
                                  <%= image_tag mission.cover, alt: 'cover', class: "image-dashboard-mission shadow-sm" %>
                                <%else%>
                                  <img src="https://media.discordapp.net/attachments/757539327998951525/785913233511809054/pexels-photo-1546105.jpeg?width=995&height=663" alt="cover" height="240">
                                <%end%>
                              </div>
                            </div>
                          </div>
                          <div class="col-6 col-md mb-3 mb-md-0 mt-5">
                            <p style="font-size:0.9rem; line-height: 0.8;"> Date: <%=mission.start_date.time.strftime("%-d/%-m/%y à %H:%M")%></p>
                            <p style="font-size:0.9rem; line-height: 0.8;">Lieu: <%=mission.address.city if mission.address%>,  <%=mission.address.zipcode if mission.address%></p>
                            <p style="font-size:0.9rem; line-height: 0.8;">Besoin de <%=mission.volunteers_needed%> volontaires</p>
                            <p style="font-size:0.9rem; line-height: 0.8;"><%=mission.participations.count%> inscrits</p>
                          <hr>
                           <i class="far fa-eye"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#28a745" <%= link_to "Voir la mission", organisation_info_mission_path(mission.organisation.id, mission.id) %></a>
                          <div><i class="far fa-eye"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#28a745" <%= link_to "Vue bénévole", organisation_mission_path(mission.organisation.id, mission.id) %></a></div>
                           <div><i class="fas fa-pencil-alt"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#17a2b8" <%= link_to "Editer la mission", edit_organisation_mission_path(mission.organisation.id, mission.id) %></a></div>
                           <div><i class="far fa-trash-alt"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#cf000f" <%= link_to "Supprimer la mission", organisation_mission_path(mission.organisation.id, mission.id), method: :delete, class: "btn btn-danger mb-2" ,data: {confirm: "Etes vous sur?"} %></a></div>
                          </div>
                        </div>
                        </div>
                    </li>
                </ul>

              <%end%>
              <%end%>
          </div>
          </div>



      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
