<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>

  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column'  %>
      <div class="col-lg-8">
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Les missions proposées par votre association</h5>
            <% if current_user.organisation.missions.blank?%>
             <div class="m-4">Votre association ne propose aucune mission pour l'instant ! </div>
             <div class="m-4"> N'hésitez pas à créer une nouvelle mission pour votre association en cliquant sur le lien "Créer une mission" accessible depuis votre panneau de contrôle (à gauche) sous la catégorie "INFORMATIONS MISSIONS" ou en <a href="/organisations/<%=current_user.organisation.id%>/missions/new">cliquant ici</a></div>
            <%else%>
            <% current_user.organisation.missions.each do |mission| %>
              <ul class="list-unstyled">
                    <li class="card card-bordered mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-7">
                            <h5 class="pl-2"><%=mission.title%></h5>
                            <div class="row mx-n1">
                              <div class="col-xl-7 col-lg-10 px-1">
                                <%if mission.cover.attached?%>
                                  <%= image_tag mission.cover, alt: 'cover', height: "200" %>
                                <%else%>
                                  <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1764d760105%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1764d760105%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2299.4140625%22%20y%3D%2296.24375%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="cover" height="240">
                                <%end%>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-5 col-lg-10 col-md-12 mb-3 mb-md-0 mt-5">
                            <p style="font-size:0.9rem; line-height: 0.8;"> Date: <%=mission.start_date.time.strftime("%-d/%-m/%y à %H:%M")%></p>
                            <p style="font-size:0.9rem; line-height: 0.8;">Lieu: <%=mission.address.city if mission.address%>,  <%=mission.address.zipcode if mission.address%></p>
                            <p style="font-size:0.9rem; line-height: 0.8;">Besoin de <%=mission.volunteers_needed%> volontaires</p>
                            <p style="font-size:0.9rem; line-height: 0.8;"><%=mission.participations.count%> inscrits</p>
                          <hr>
                           <i class="far fa-eye"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#28a745" <%= link_to "Voir la mission", organisation_info_mission_path(mission.organisation.id, mission.id) %></a>
                          <div><i class="far fa-eye"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#28a745" <%= link_to "Vue bénévole", organisation_mission_path(mission.organisation.id, mission.id) %></a></div>
                           <div><i class="fas fa-pencil-alt"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#17a2b8" <%= link_to "Editer la mission", edit_organisation_mission_path(mission.organisation.id, mission.id) %></a></div>
                           <div><i class="far fa-trash-alt"></i><a class="btn btn-unique text-left" style="font-size:0.7em; color:#cf000f" <%= link_to "Supprimer la mission", organisation_mission_path(mission.organisation.id, mission.id), method: :delete, class: "btn btn-danger mb-2" ,data: {confirm: "Etes vous sur?"} %></a></div>
                          </div>
                        </div>
                        </div>
                    </li>
                </ul>

              <%end%>
              <%end%>
          </div>
          </div>



      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
