<!-- ========== MAIN ========== -->
<main id="content" role="main" class="bg-light">

  <%= render 'users/cover'  %>

  <div class="container space-1 space-top-lg-0 mt-lg-n10" style="position: relative ; top: -80px ;">
    <div class="row">
      <%= render 'users/left_column' %>

      <div class="col-lg-9">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
          <div class="card-header">
            <h5 class="card-title mt-3">Les missions auxquelles je participe</h5>
          </div>

          <!-- Body -->
          <div class="card-body row">
            <% @participations.each do |participation| %>
            <% if participation.user == @user %>
              <!-- venue item-->
              <div class="col-sm-6 col-lg-6 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                <div class="card h-100 border-0 shadow">
                  <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE); min-height: 200px;"><%= link_to "", organisation_mission_path(participation.mission.organisation.id, participation.mission.id), class: "tile-link"%>
                    <div class="card-img-overlay-bottom z-index-20">
                      <h4 class="text-white text-shadow"><%= participation.mission.title%></h4>
                    </div>
                    <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                      <div class="badge badge-transparent badge-pill px-3 py-2 mt-2"><%if participation.mission.organisation.tags.present?%>
                        <%=participation.mission.organisation.tags.last.name%>
                        <%end%>
                        </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> <%=participation.mission.address.city%>,  <%=participation.mission.address.zipcode%></small><br>
                    <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de <%=participation.mission.volunteers_needed%> volontaires</small><br>
                    <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: <%=participation.mission.start_date%></small><br></p>

                    <%= link_to "Voir la mission", organisation_mission_path(participation.mission.organisation.id, participation.mission.id), class: "btn btn-primary mb-2"%><br>
                    <%= link_to "#{participation.mission.organisation.name}", organisation_path(participation.mission.organisation.id), class: "btn btn-light mb-3"%>
                    <p class="mb-0">
                      <small style="color:#808080"> <%participation.mission.tags.each do |tag|%>
                      <li class="list-inline-item mr-3"><i class="fas fa-tags"></i> <%=tag.name%></li>
                      <%end%></small>
                      </p>
                  </div>
                </div>
              </div>
              <%end%>
            <%end%>

          </div>
          <!-- End Body -->

      </div>
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
