    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8"> 
          <div class="text-block">
            <h1><%=@mission.title%></h1>
            <p class="text-primary"><i class="fa-map-marker-alt fa mr-1"></i><%=@mission.address.number%>, <%=@mission.address.street%>, <%=@mission.address.city%>, <%=@mission.address.zipcode%>, <%=@mission.address.country%></p>
            <p class="text-muted mb-4"> <%=@mission.start_date.strftime("Du %-d/%-m/%Y à %lh%H")%> - <%=@mission.end_date.strftime("Au %-d/%-m/%Y à %lh%H")%> </p>
            <ul class="list-inline text-sm mb-4">
            <%@mission.tags.each do |tag| %>
              <li class="list-inline-item mr-3"><i class="fas fa-tags text-secondary"></i> <%=tag.name%></li>
            <%end%>
            </ul>
            <h6 class="mb-3">Descriptif de la mission </h6>
            <p class="text-muted font-weight-light"><%=@mission.description%></p>
            
            <h6 class="mb-3">Rappel</h6>
            <p class="text-muted font-weight-light">En participant à une mission clap for life vous vous engagez à être présent le jour de la mission. Si vous souhaitez vous desinscire vous devez le faire au moins 24h à l avance pour laisser le temps aux responsables de trouver une solution pour vous remplacer. Merci de prevenir le responsable de la mission avant de vous désinscrire sur le site ! Les associations comptent sur vous ! Merci</p>
          </div>
          <div class="text-block">
            <div class="media"><img class="avatar avatar-lg mr-4" src="img/avatar/avatar-10.jpg" alt="Avatar de l association">
              <div class="media-body">
                <p> <span class="text-muted text-uppercase text-sm">Mission proposée par </span><br><strong><%=@mission.organisation.name%></strong></p>
                <p class="text-muted text-sm mb-2"><%=@mission.organisation.description%></p>
                <p class="text-sm"><a <%=link_to "Voir la page de l association", organisation_path(@mission.organisation.id)%></p>
              </div>
            </div>
          </div>
          <div class="text-block">
            <h5 class="mb-4">Location  (image à remplacer par le iframe google maps)</h5>
            <div class="map-wrapper-300 mb-3">
              <img class="h-100" id="detailMap" src="https://img.20mn.fr/Hm_mQqfYRW2-3-uB-i9qAQ/830x532_carte-localisation-place-trocadero-paris.jpg"></img>
            </div>
          </div>
        
          <div class="text-block">
            <h5 class="mb-0">Ils se sont inscrits</h5>
            <%@mission.participations.each do |participation|%>
            <div class="media d-block d-sm-flex review">
              <div class="text-md-center mr-4 mr-xl-5"><img class="d-block avatar avatar-xl p-2 mb-2" src="img/avatar/avatar-8.jpg" alt="Padmé Amidala"><span class="text-uppercase text-muted text-sm">Dec 2018</span></div>
              <div class="media-body">
                <h6 class="mt-2 mb-1"><%=participation.user.username%></h6>
              </div>
            </div>
            <%end%>
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 shadow ml-lg-4 rounded sticky-top" style="top: 100px;">
            <p class="text-muted">Places restantes : <span class="text-primary h4"><%=@mission.volunteers_needed - @mission.participations.count%>  </span></p>
            <hr class="my-4">
            <%=form_for @participation, :url => {:action => "create"} do |f|%>
              <% f.hidden_field :user_id, :value => current_user.id %>
              <% f.hidden_field :mission_id, :value => @mission.id %>
              <%=f.submit "Participer", class: "btn btn-primary"%>
            <%end%>
            <hr class="my-4">
            <div class="text-center">
              <p class="text-secondary text-sm" > Contact responsable de mission</p>
              <p class="text-muted text-sm"><%=@mission.contact_first_name%> <%=@mission.contact_last_name%> </p>
              <p class="text-muted text-sm"><%=@mission.contact_phone%> </p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-6 bg-gray-100"> 
      <div class="container">
        <h5 class="mb-0">Dans la même catégorie</h5>
        </br>
        <div class="row">
        <% @missions.each do |mission| %>
          <%unless (mission.tags.map {|tag| tag.name} & @mission.tags.map {|tag| tag.name} ).empty? || mission.id == @mission.id%>
            <!-- venue item-->
            <div class="col-sm-6 col-lg-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
              <div class="card h-100 border-0 shadow">
                <div class="card-img-top overflow-hidden dark-overlay bg-cover" style="background-image: url(https://www.linfodurable.fr/sites/linfodurable/files/styles/landscape_w800/public/2018-06/NETTOYAGES%20DE%20PLAGE.jpg?h=a7a713b3&itok=D2cYNkDE); min-height: 200px;"><%= link_to "", organisation_mission_path(mission.organisation.id, mission.id), class: "tile-link"%>
                  <div class="card-img-overlay-bottom z-index-20">
                    <h4 class="text-white text-shadow"><%=mission.title%></h4>
                  </div>
                  
                </div>
                <div class="card-body">
                  <i class="fas fa-search-location" style="color:#808080"></i><small style="color:#808080"> <%=mission.address.city%>,  <%=mission.address.zipcode%></small><br>
                  <i class="fas fa-users" style="color:#808080"></i><small style="color:#808080"> Besoin de <%=mission.volunteers_needed%> volontaires</small><br>
                  <i class="fas fa-calendar-day" style="color:#808080"></i><small style="color:#808080"> Date: <%=mission.start_date%></small><br></p>

                  <%= link_to "Voir la mission", organisation_mission_path(mission.organisation.id, mission.id), class: "btn btn-primary mb-2"%><br>
                  <%= link_to "#{mission.organisation.name}", organisation_path(mission.organisation.id), class: "btn btn-light mb-3"%>
                  <p class="mb-0">
                  <small style="color:#808080"> <%mission.tags.each do |tag|%>
                  <li class="list-inline-item mr-3"><i class="fas fa-tags"></i> <%=tag.name%></li>
                  <%end%></small>
                  </p>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
      </div>
    </div>

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- jQuery-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Smooth scroll-->
    <script src="vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="vendor/object-fit-images/ofi.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.js"></script>
    <!-- Map-->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <!-- Available tile layers-->
    <script src="js/map-layers.js"> </script>
    <script src="js/map-detail.js"></script>
    <script>
      createDetailMap({
          mapId: 'detailMap',
          mapZoom: 14,
          mapCenter: [40.732346, -74.0014247],
          circleShow: true,
          circlePosition: [40.732346, -74.0014247]
      })
      
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.19.0/jquery.daterangepicker.min.js"> </script>
    <script src="js/datepicker-detail.js">   </script>
  </body>
</html>