<p><%= @mission.title %></p>
<p><%= @mission.description %></p>
<p><%= @mission.contact_first_name %></p>
<p><%= @mission.contact_last_name %></p>
<p><%= @mission.contact_phone %></p>
<p><%= @mission.start_date %></p>
<p><%= @mission.end_date %></p>
<p><%= @mission.volunteers_needed %></p>
<p><%= @mission.organisation.name %></p>
