<p>Bonjour <%= @admin.first_name %>,</p><br>

<p>Un nouveau bénévole s'est inscrit à la mission <%= @mission.title %>.</p>

<ul>
  <li class="font-weight-bold">Profil du bénévole</li>
  <li>Nom : <%= @user.first_name %> <%= @user.last_name %></li>
  <li>Email : <%= @user.email %></li>
</ul>

<ul>
  <li class="font-weight-bold">Organisateur de la mission</li>
  <li>Nom : <%= @mission.contact_first_name %> <%= @mission.contact_last_name %></li>
  <li>Téléphone : <%= @mission.contact_phone %></li>
</ul>

<p>Bonne journée,</p>
<p>L'équipe <strong style="color:#d24d57; font-style:italic; font-size: 1.2rem">Clap for Life</strong></p>
