<footer class="position-relative z-index-10 d-print-none">
  <div class="p-4 bg-gray-100 shadow-sm text-muted">
    <div class="container">
      <div class="row">
        <div class="col-4 mb-5 mb-lg-0">
          <div class="py-2"><%= image_tag("logo_1.png", :alt => "logo Clap for Life", :height => "60") %></div>
            <p>63 rue de Courcelles,<br>
            75008, Paris, France</p>
        </div>
        <div class="col-4 mb-5 mb-lg-0 text-center"><br>
          <h6 class="text-uppercase text-dark mb-3">A propos</h6>
          <ul class="list-unstyled">
            <li><a class="text-muted" <%= link_to "Vision & mission", clap_vision_path%></a></li>
            <li><a class="text-muted" <%= link_to "Equipe & valeurs", clap_team_path%></a></li>
            <li><a class="text-muted" <%= link_to "Nous contacter", new_contact_path%></a></li>
          </ul>
        </div>
        <div class="col-4 mb-5 mb-lg-0 text-center"><br>
          <h6 class="text-uppercase text-dark mb-3">Plan du site</h6>
          <ul class="list-unstyled">
            <li><a class="text-muted" <%= link_to "Accueil", root_path%></a></li>
            <li><a class="text-muted" <%= link_to "Recherche d’associations", organisations_path%></a></li>
            <li><a class="text-muted" <%= link_to "Recherche de missions", missions_path%></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <a class="mb-md-0 text-white" href="/">Mentions légales</a>
        </div>
        <div class="col-md-6">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
            <li class="list-inline-item text-white">&copy; 2021, Clap for Life,  Tous droits réservés.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
